@import 'fonts';
@import 'reseter';
@import 'variables';
@import 'extentions';
@import 'mixins';

@import 'sections/s1_header';
@import 'sections/s2_main_slider';
@import 'sections/s3_services';
@import 'sections/s4_garanty';
@import 'sections/s5_business_plan';
@import 'sections/s6_scheme';
@import 'sections/s7_director';
@import 'sections/s8_commands';
@import 'sections/s9_our_works';
@import 'sections/s10_clients';
@import 'sections/s11_qa';
@import 'sections/s12_footer';
@import 'sections/sidebars';
@import 'sections/contacts';
@import 'sections/download';
@import 'sections/articles';
@import 'sections/woocommerce';
@import 'sections/product_remark';


h2 {
    @extend %font_bold;
    line-height: 1.2;
    position: relative;
    text-align: center;

    &::after {
        position:absolute;
        bottom: -12px;
        left: 0;
        left: calc(50% - 35px);
        width: 70px;
        border-top: 4px solid #314f30;
        content: " ";
        display: block;
    }
}

a {
    color: $green;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 6px;
}

.content {
    @extend %font;
    font-size: 14px;

    h1 {
        @extend %font_bold;
        font-size: 48px;
        margin: 10px 0;
    }

    h2 {
        @extend %font_bold;
        font-size: 30px;
        margin: 8px 0;
        text-align: left;
        &::after {
            display: none;
        }
    }
}

.z-index2 {
    position: relative;
    z-index: 2;
}

.main_background {
    background-color: #f8f8f8;
    background-image:  url($images + "bg_element_1.png"), 
                       url($images + "bg_element_2.png"),
                       url($images + "bg_element_3.png"),
                       linear-gradient(0deg, #ffffff 30%, #f8f8f8 70%);
    background-position:  top 222px right 1920px - 96px,
                          top 705px right 1815px - 103px,
                          top 602px left 1618px,
                          0 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    z-index: -10;
    width: 100%;
}
.lighter_bg {
    width: 100%;
    background-color: #fcfefe;
    z-index: -3;
}

.text {
    @extend %font_medium;
    font-size: 18px;
}

button.orange,
input.orange,
a.btn.orange {
    // background: url($images + "orange_btn_line.png") no-repeat;
    background-image: url($images + "orange_btn_line.png") , linear-gradient( 90deg, rgb(254,81,3) 0%, rgb(243,125,73) 100%),;
    background-repeat: no-repeat, no-repeat;
    background-position: 20px, center;
    // background-color: rgb(254,81,3);
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.35),
                0px 4px 0px 0px rgba(210, 76, 16, 0.004),
                0px 4px 2px #a13a0c;
    padding: 0 40px;
    border-radius: 26px;
    border: 0;

      

    // @extend %font_semibold;
    @extend %font_medium;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    height: 55px;

    &:active,
    &:focus {
        outline: none;
    }
}


  