doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/app.min.css")
    link(rel="apple-touch-icon", sizes="180x180", href="images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="16x16", href="images/favicon-16x16.png")
    link(rel="icon", type="image/png", sizes="32x32", href="images/favicon-32x32.png")
    link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")
    script(defer, src="js/app.min.js")
    title Document
  body
    .main_background 
      .container
        include ../sections/_s1_header.pug
        include ../sections/_s2_main_slider.pug
        include ../sections/_s3_services.pug
    include ../sections/_s4_garanty.pug
    .lighter_bg
      include ../sections/_s5_business_plan.pug
      include ../sections/_s6_scheme.pug
      include ../sections/_s7_director.pug
      include ../sections/_s8_commands.pug
      include ../sections/_s9_our_works.pug
      include ../sections/_s10_clients.pug
      include ../sections/_s11_qa.pug
      include ../sections/_s12_footer.pug
      