.product_remark 
    .product_remark__header 
        .anounce  Бизнес-план содержит:
        .image 
            img(src="images/svg/word.svg")
        .text
            | текстовую часть в Word 
        .image 
            img(src="images/svg/exel.svg")
        .text
            | финансовую модель в Excel 
    .product_remark__main 
        | Это комплексное решение со всеми расчетами необходимыми для получения кредита, субсидии или инвестиций. 