.bpan_container {
    width: 100%;
    background-image: url($images + "plan_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 905px;
}

.bplan {
    padding-top: 100px;
    position: relative;

    .title {
        @extend %font_bold;
        font-size: 36px;
        color: #fff;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 514px;

        li {
            @extend %font_medium;
            font-size: 15px;
            line-height: 24px;
            color: #fff;
            margin-top: 30px;

            &::before {
                content: "01";
                background-color: #8eb24c;
                @extend %font_bold;
                font-size: 13px;
                color: #fff;
                border-radius: 50%;
                padding: 3px 6px;
                margin-right: 20px;
                float: left;
                width: 30px;
                box-shadow: 0 0 0 4px rgba(142, 178, 75, 0.5);
            }
        }

        @for $i from 1 through 8 {
            li:nth-child(#{$i}) {
                &::before {
                    content: " 0" + $i;
                }
            }
        }
    }

    .button {
        position: absolute;
        top: 550px;
        left: 800px;
    }

}