.bpan_container {
    width: 100%;
    background-image: url($images + "plan_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 905px;
    @include _sm {
        min-height: 500px;
    }
}

.bplan {
    padding-top: 100px;
    position: relative;

    @include _sm {
        padding-top: 10px;
    }    

    .title {
        @extend %font_bold;
        font-size: 36px;
        color: #fff;
        
        @include _sm {
            font-size: 18px;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 514px;

        li {
            @extend %font;
            font-size: 15px;
            line-height: 24px;
            color: #fff;
            margin-top: 30px;

            @include _sm {
                font-size: 11px;
                line-height: 14px;
                color: #fff;
                margin-top: 14px;
            }

            &::before {
                content: "01";
                background-color: #8eb24c;
                @extend %font_bold;
                font-size: 13px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                // padding: 4px 0px 3px 8px;
                margin-right: 20px;
                float: left;
                width: 30px;
                height: 30px;
                box-shadow: 0 0 0 4px rgba(142, 178, 75, 0.5);
            }
        }

        @for $i from 1 through 8 {
            li:nth-child(#{$i}) {
                &::before {
                    content: " 0" + $i;
                }
            }
        }
    }

    .button {
        position: absolute;
        top: 550px;
        left: 700px;
            
        @include _sm {
            top: auto;
            bottom: -60px;
            left: 100px;
            transform: scale(.6);
        }
        
        button {
            width: 314px;
        }
    }

}