.team {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @include _sm {
        flex-wrap: wrap;
    }

    .team__item {
        @include _sm {
            margin-top: 20px;
        }

        .photo {
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.13);
            width: 171px;
            height: 171px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-top: 20px;
            }
        }

        .name {
            @extend %font_bold;
            font-size: 15px;
            text-align: center;
            margin-top: 14px;
        }

        .position {
            @extend %font_medium;
            font-size: 13px;
            text-align: center;
        }
    }
}