.left_sidebar_page.reverse_to_right 
  .left_sidebars
    .sidebar
      #block-12.widget.widget_block
        h2 &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
      #block-8.widget.widget_block
        .wc-block-product-categories.is-list
          ul.wc-block-product-categories-list.wc-block-product-categories-list--depth-0
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/misc/')
                | Misc
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 1
                span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/biznes-plan/')
                | &Bcy;&icy;&zcy;&ncy;&iecy;&scy; &pcy;&lcy;&acy;&ncy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 5
                span.screen-reader-text &Tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;: 5
    .sidebar
      #block-13.widget.widget_block
        h2 &Fcy;&icy;&lcy;&softcy;&tcy;&rcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy; &pcy;&lcy;&acy;&ncy;&ocy;&vcy;
      #block-10.widget.widget_block
        .wp-block-woocommerce-price-filter(data-showinputfields='true' data-showfilterbutton='false' data-heading='цена' data-heading-level='3')
          h3 &tscy;&iecy;&ncy;&acy;
          .wc-block-price-slider
            .wc-block-price-filter.wc-block-components-price-slider.wc-block-price-filter--has-input-fields.wc-block-components-price-slider--has-input-fields
              .wc-block-price-filter__range-input-wrapper.wc-block-components-price-slider__range-input-wrapper
                div(aria-hidden='true')
                  .wc-block-price-filter__range-input-progress.wc-block-components-price-slider__range-input-progress(style='--low:-0.5%; --high:100.5%;')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--min.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--min(type='range' aria-label='Сортировать по цене (сначала дешевые)' step='1' min='0' max='50000' tabindex='-1' value='0')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--max.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--max(type='range' aria-label='Сортировать по цене (сначала дорогие)' step='1' min='0' max='50000' tabindex='-1' value='50000')
              .wc-block-price-filter__controls.wc-block-components-price-slider__controls
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--min.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--min(inputmode='numeric' aria-label='Сортировать по цене (сначала дешевые)' type='text' value='0₸')
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--max.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--max(inputmode='numeric' aria-label='Сортировать по цене (сначала дорогие)' type='text' value='50 000₸')
      #block-9.widget.widget_block
        .wp-block-woocommerce-attribute-filter(data-attribute-id='1' data-show-counts='true' data-query-type='or' data-heading='Окупаемость (лет)' data-heading-level='3')
          h3 &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (&lcy;&iecy;&tcy;)
          .wc-block-attribute-filter
            ul.wc-block-checkbox-list.wc-block-components-checkbox-list.wc-block-attribute-filter-list
              li
                input#4(type='checkbox' value='4')
                label(for='4')
                  | 4
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
 
  .content.block_right
    header.page-header
      h1.page-title
        | &Rcy;&ucy;&bcy;&rcy;&icy;&kcy;&acy;: 
        span &Scy;&tcy;&acy;&tcy;&softcy;&icy;
      .archive-description
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum enim a tincidunt imperdiet. Vestibulum ultricies mi libero, ut pharetra justo mollis gravida. Donec at lacus vulputate, posuere diam vitae, dignissim purus. Integer elementum nunc ligula, sit amet ullamcorper tortor ullamcorper malesuada. Nullam tempus auctor purus at cursus. Aenean rhoncus convallis laoreet. Etiam pharetra dolor nec leo consectetur ornare. Curabitur volutpat justo at tellus rutrum eleifend. Nunc sed iaculis ex, ac rhoncus nulla. Mauris porta justo vitae sem interdum mollis. Nunc sollicitudin nibh arcu, a aliquam lacus molestie non. Vivamus accumsan aliquet porttitor. Morbi ullamcorper in augue et accumsan. Donec eu ante vitae quam suscipit elementum.
    // .page-header
    article#post-109.post-109.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-articles
      .post__block
        .post__image
          a.post-thumbnail(href='http://localhost/business/articles/naruzhnaya-ochistka-vseh-tipov-zdanij-2/' aria-hidden='true' tabindex='-1')
            img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_01.jpg' alt='Наружная очистка всех типов зданий' loading='lazy')
          .date
              .day 19 
              .month_year &Scy;&iecy;&ncy; 21
        .post__text_block
          .post__text_block__meta
            .post__text_block__meta_counter
              | Количество просмотров:
            .post__text_block__meta_time 
              | Время прочтения
          .post__text_block__text
            h2.entry-title
              a(href='http://localhost/business/articles/naruzhnaya-ochistka-vseh-tipov-zdanij-2/' rel='bookmark') &Ncy;&acy;&rcy;&ucy;&zhcy;&ncy;&acy;&yacy; &ocy;&chcy;&icy;&scy;&tcy;&kcy;&acy; &vcy;&scy;&iecy;&khcy; &tcy;&icy;&pcy;&ocy;&vcy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
            p
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non earum necessitatibus dolorum cumque velit, illo sed temporibus fuga eos magnam a nobis unde nulla illum, dolorem sunt dolor nemo et? Asperiores mollitia nobis libero cumque cupiditate quibusdam eum optio velit amet ipsam error, temporibus excepturi est quisquam iusto fuga possimus officia quos molestias sapiente laborum nisi voluptatum autem magni. Totam pariatur natus sapiente vel reiciendis nemo, quod soluta quaerat, et tenetur qui reprehenderit minima ut consequuntur molestias similique aut? Dolores, rem doloribus esse, nam aperiam culpa vero saepe sit quod laudantium necessitatibus voluptatem exercitationem dolore consectetur, perspiciatis qui amet quas!

            a(href='http://localhost/business/articles/naruzhnaya-ochistka-vseh-tipov-zdanij-2/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
    // #post-109
    article#post-59.post-59.post.type-post.status-publish.format-standard.hentry.category-articles
      .post__block
        .post__image
          .date
            | 15 &Scy;&iecy;&ncy; 21
        .post__text_block
          .post__text_block__meta
          .post__text_block__text
            h2.entry-title
              a(href='http://localhost/business/articles/naruzhnaya-ochistka-vseh-tipov-zdanij/' rel='bookmark') &Ncy;&acy;&rcy;&ucy;&zhcy;&ncy;&acy;&yacy; &ocy;&chcy;&icy;&scy;&tcy;&kcy;&acy; &vcy;&scy;&iecy;&khcy; &tcy;&icy;&pcy;&ocy;&vcy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra ac mi ac dapibus. Nulla nec semper nibh. Nam hendrerit pulvinar mi scelerisque tempor. Etiam egestas lobortis mi sit amet viverra. Sed tincidunt vulputate est at ornare. Nulla ac aliquam velit, vitae viverra turpis. Nunc consectetur lacus eu odio elementum ultricies. In non tincidunt orci. [&mldr;]
            a(href='http://localhost/business/articles/naruzhnaya-ochistka-vseh-tipov-zdanij/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
    // #post-59
