.left_sidebar_page
  .left_sidebars
    .sidebar
      #block-12.widget.widget_block
        h2 &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
      #block-8.widget.widget_block
        .wc-block-product-categories.is-list
          ul.wc-block-product-categories-list.wc-block-product-categories-list--depth-0
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/misc/')
                | Misc
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 1
                span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/biznes-plan/')
                | &Bcy;&icy;&zcy;&ncy;&iecy;&scy; &pcy;&lcy;&acy;&ncy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 5
                span.screen-reader-text &Tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;: 5
    .sidebar
      #block-13.widget.widget_block
        h2 &Fcy;&icy;&lcy;&softcy;&tcy;&rcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy; &pcy;&lcy;&acy;&ncy;&ocy;&vcy;
      #block-10.widget.widget_block
        .wp-block-woocommerce-price-filter(data-showinputfields='true' data-showfilterbutton='false' data-heading='цена' data-heading-level='3')
          h3 &tscy;&iecy;&ncy;&acy;
          .wc-block-price-slider
            .wc-block-price-filter.wc-block-components-price-slider.wc-block-price-filter--has-input-fields.wc-block-components-price-slider--has-input-fields
              .wc-block-price-filter__range-input-wrapper.wc-block-components-price-slider__range-input-wrapper
                div(aria-hidden='true')
                  .wc-block-price-filter__range-input-progress.wc-block-components-price-slider__range-input-progress(style='--low:-0.5%; --high:100.5%;')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--min.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--min(type='range' aria-label='Сортировать по цене (сначала дешевые)' step='1' min='0' max='50000' tabindex='-1' value='0')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--max.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--max(type='range' aria-label='Сортировать по цене (сначала дорогие)' step='1' min='0' max='50000' tabindex='-1' value='50000')
              .wc-block-price-filter__controls.wc-block-components-price-slider__controls
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--min.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--min(inputmode='numeric' aria-label='Сортировать по цене (сначала дешевые)' type='text' value='0₸')
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--max.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--max(inputmode='numeric' aria-label='Сортировать по цене (сначала дорогие)' type='text' value='50 000₸')
      #block-9.widget.widget_block
        .wp-block-woocommerce-attribute-filter(data-attribute-id='1' data-show-counts='true' data-query-type='or' data-heading='Окупаемость (лет)' data-heading-level='3')
          h3 &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (&lcy;&iecy;&tcy;)
          .wc-block-attribute-filter
            ul.wc-block-checkbox-list.wc-block-components-checkbox-list.wc-block-attribute-filter-list
              li
                input#4(type='checkbox' value='4')
                label(for='4')
                  | 4
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
    .sidebar
      #block-14.widget.widget_block
        h2 &Pcy;&ocy;&icy;&scy;&kcy;
      #block-11.widget.widget_block
        .wp-block-woocommerce-product-search
          .wc-block-product-search
            form(role='search' method='get' action='http://localhost/business/')
              label.wc-block-product-search__label(for='wc-block-product-search-2') &Pcy;&ocy;&icy;&scy;&kcy;
              .wc-block-product-search__fields
                input#wc-block-product-search-2.wc-block-product-search__field(type='search' placeholder='Искать товары...' name='s')
                input(type='hidden' name='post_type' value='product')
                button.wc-block-product-search__button(type='submit' label='Поиск')
                  svg.dashicon.dashicons-arrow-right-alt2(aria-hidden='true' role='img' focusable='false' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20')
                    path(d='M6 15l5-5-5-5 1-2 7 7-7 7z')
  .content.block_right
    main#main.site-main(role='main')
      nav.woocommerce-breadcrumb
        a(href='http://localhost/business') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
        | &nbsp;/&nbsp;&Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;
      header.woocommerce-products-header
        h1.woocommerce-products-header__title.page-title &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;
      .woof_products_top_panel_content
      .woof_products_top_panel(style='display: none;')
      .woocommerce-notices-wrapper
      p.woocommerce-result-count
        | &Pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&ocy; 6 &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
      form.woocommerce-ordering(method='get')
        select.orderby(name='orderby' aria-label='Заказ в магазине')
          option(value='popularity' selected='selected') &Pcy;&ocy; &pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&ncy;&ocy;&scy;&tcy;&icy;
          option(value='rating') &Pcy;&ocy; &rcy;&iecy;&jcy;&tcy;&icy;&ncy;&gcy;&ucy;
          option(value='date') &Scy;&ocy;&rcy;&tcy;&icy;&rcy;&ocy;&vcy;&kcy;&acy; &ocy;&tcy; &pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&iecy;&gcy;&ocy;
          option(value='price') &TScy;&iecy;&ncy;&ycy;: &pcy;&ocy; &vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;&acy;&ncy;&icy;&yucy;
          option(value='price-desc') &TScy;&iecy;&ncy;&ycy;: &pcy;&ocy; &ucy;&bcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy;
        input(type='hidden' name='paged' value='1')
      ul.products.columns-3
        li.product.type-product.post-79.status-publish.first.instock.product_cat-misc.has-post-thumbnail.downloadable.virtual.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/organizacziya-karsheringa/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_02.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &kcy;&acy;&rcy;&shcy;&iecy;&rcy;&icy;&ncy;&gcy;&acy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy; - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; - 300 00
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (DPB), &lcy;&iecy;&tcy;&nbsp; - 4
          a.btn.orange(href='http://localhost/business/product/organizacziya-karsheringa/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        li.product.type-product.post-78.status-publish.instock.product_cat-biznes-plan.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/otkrytie-restorana/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&acy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy; - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; - 300 00
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (DPB), &lcy;&iecy;&tcy;&nbsp; - 4
              | IRR - 5%
              | NPV&nbsp; - 10 000
          a.btn.orange(href='http://localhost/business/product/otkrytie-restorana/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        li.product.type-product.post-77.status-publish.last.instock.product_cat-biznes-plan.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/organizacziya-avtomojki/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_02.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&jcy;&kcy;&icy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy; - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; - 300 00
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (DPB), &lcy;&iecy;&tcy;&nbsp; - 4
          a.btn.orange(href='http://localhost/business/product/organizacziya-avtomojki/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        li.product.type-product.post-75.status-publish.first.instock.product_cat-biznes-plan.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/organizacziya-deyatelnosti-gostiniczy/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &gcy;&ocy;&scy;&tcy;&icy;&ncy;&icy;&tscy;&ycy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy;, &tcy;&ycy;&scy;. &tcy;&gcy;. - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy;, &tcy;&ycy;&scy;. &tcy;&gcy;./&gcy;&ocy;&dcy; - 300 000
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &lcy;&iecy;&tcy; - 4
          a.btn.orange(href='http://localhost/business/product/organizacziya-deyatelnosti-gostiniczy/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        li.product.type-product.post-73.status-publish.instock.product_cat-biznes-plan.has-post-thumbnail.shipping-taxable.purchasable.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/otkrytie-taksoparka/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_02.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &tcy;&acy;&kcy;&scy;&ocy;&pcy;&acy;&rcy;&kcy;&acy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy;, &tcy;&ycy;&scy;. &tcy;&gcy;. - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy;, &tcy;&ycy;&scy;. &tcy;&gcy;./&gcy;&ocy;&dcy; - 300 000
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &lcy;&iecy;&tcy; - 4
          a.btn.orange(href='http://localhost/business/product/otkrytie-taksoparka/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        li.product.type-product.post-71.status-publish.last.instock.product_cat-biznes-plan.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
          a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='http://localhost/business/product/album/')
            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_01.jpg' alt='' loading='lazy')
            h2.woocommerce-loop-product__title &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &shcy;&vcy;&iecy;&jcy;&ncy;&ocy;&gcy;&ocy; &acy;&tcy;&iecy;&lcy;&softcy;&iecy;
            .text
              | &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy;, &tcy;&ycy;&scy;. &tcy;&gcy;. - 170 000
              | &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy;, &tcy;&ycy;&scy;. &tcy;&gcy;./&gcy;&ocy;&dcy; - 300 000
              | &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &lcy;&iecy;&tcy; - 4
          a.btn.orange(href='http://localhost/business/product/album/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
