mixin card(img, title, text)
    .card
        .image 
            img(src=img)
        .title= title 
        .text= text
        .link
            a(href="#") Подробнее

.left_sidebar_page 
    .left_sidebar
        .title Свежие новости
        .sidebar__item 
            a(href="#") Наружная очистка всех   типов зданий
        .sidebar__item 
            a(href="#") Спортивное обучение
        .sidebar__item 
            a(href="#") Открытие прачечной
        .sidebar__item 
            a(href="#") Открытие танцевальных студий и обучение танцам
        .sidebar__item 
            a(href="#") Производство стульев и сидений для офисов, студий, гостиниц, ресторанов и общественных мест
        .sidebar__item 
            a(href="#") Производство красок, лаков и эмалей
        .sidebar__item 
            a(href="#") Производство обоев
        .sidebar__item 
            a(href="#") Производство школьных и офисных канцелярских товаров
        .sidebar__item 
            a(href="#") Распил и дробление декоративного и строительного камня
        .sidebar__item 
            a(href="#") Производство текстильных покрытий, включающих ковры, паласы и половики, напольные покрытия
    .content.block_right
        h1 Скачать бизнес-план
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
        .download_bp__cards 
            +card("images/download_img_01.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_02.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_03.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_01.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_02.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_03.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_01.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_02.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            +card("images/download_img_03.jpg", "Наружная очистка всех типов зданий", "о, как выглядит здание снаружи, имеет большое значение, ведь фасад является своеобразной одеждой здания. Чисто вымытый фасад притягивает взгляд и дарит хорошее настроение клиентам. Для того чтобы эффект ...")
            