mixin faq_item(question, answer)
    .faq_block__item
        .question= question            
        .answer= answer
        .nav

.left_sidebar_page 
    .left_sidebar
        .title Свежие новости
        .sidebar__item 
            a(href="#") Наружная очистка всех типов зданий
        .sidebar__item 
            a(href="#") Спортивное обучение
        .sidebar__item 
            a(href="#") Открытие прачечной
        .sidebar__item 
            a(href="#") Открытие танцевальных студий и обучение танцам
        .sidebar__item 
            a(href="#") Производство стульев и сидений для офисов, студий, гостиниц, ресторанов и общественных мест
        .sidebar__item 
            a(href="#") Производство красок, лаков и эмалей
        .sidebar__item 
            a(href="#") Производство обоев
        .sidebar__item 
            a(href="#") Производство школьных и офисных канцелярских товаров
        .sidebar__item 
            a(href="#") Распил и дробление декоративного и строительного камня
        .sidebar__item 
            a(href="#") Производство текстильных покрытий, включающих ковры, паласы и половики, напольные покрытия
    .content.block_right
        h1 Вопрос-ответ
        p В разделе «Вопрос – Ответ» приведены часто задаваемые вопросы. Если Вы не найдете ответа на свой вопрос, позвоните по телефонам, которые указаны в разделе «контакты» или напишите письмо по электронной почте.
        h2 Общие вопросы
        .faq_block
                .faq_block__item
                    +faq_item("а даете ли вы гарантию, что по вашему бизнес-плану/тэо я точно получу финансирование?")
                    .faq_block__item.active
                        .question КАК БЫСТРО ВЫ МОЖЕТЕ РАЗРАБОТАТЬ БИЗНЕС-ПЛАН/ТЭО?            
                        .answer 
                            |Все зависит от ваших целей и задач. Если. например, вам нужен бизнес-план для предоставления в местный акимат для получения гранта, такой проект мы можем рассчитать в кратчайшие сроки от 3 дней до недели. Если же бизнес-план нужен для получения кредита или для инвестора, здесь все зависит от глубины анализа и проработки проекта, от условий организации, принимающей решение. В данном случае минимальный срок может быть от 1 недели до 2 месяцев.
                            |По каждому проекту мы индивидуально рассчитываем сроки разработки, с учетом текущей загруженности наших сотрудников. Чтобы узнать более точную информацию по срокам именно по вашему проекту, вы можете позвонить нам, либо оставить заявку на обратный звонок на нашем сайте, мы вам перезвоним и детально проконсультируем по всем вопросам.

                        .nav
                    +faq_item("КАК БЫСТРО ВЫ МОЖЕТЕ РАЗРАБОТАТЬ БИЗНЕС-ПЛАН/ТЭО?")
                    +faq_item("БЫЛИ ЛИ У ВАС ПРОЕКТЫ, В КОТОРЫЕ ИНВЕСТИЦИИ НЕ БЫЛИ ПРИВЛЕЧЕНЫ ПО КАКИМ-ТО ПРИЧИНАМ?")
                    +faq_item("КАКОВА СТОИМОСТЬ УСЛУГ СОСТАВЛЕНИЯ БИЗНЕС-ПЛАНА/ТЭО?")
