.left_sidebar_page
  .left_sidebars
    .sidebar
      #block-12.widget.widget_block
        h2 &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
      #block-8.widget.widget_block
        .wc-block-product-categories.is-list
          ul.wc-block-product-categories-list.wc-block-product-categories-list--depth-0
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/cars/')
                | &Acy;&vcy;&tcy;&ocy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 2
                span.screen-reader-text &Tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;: 2
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/vending/')
                | &Vcy;&iecy;&ncy;&dcy;&icy;&ncy;&gcy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 2
                span.screen-reader-text &Tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;: 2
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/catering/')
                | &Ocy;&bcy;&shchcy;&iecy;&pcy;&icy;&tcy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 1
                span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
            li.wc-block-product-categories-list-item
              a(href='http://localhost/business/product-category/touring/')
                | &Tcy;&ucy;&rcy;&icy;&zcy;&mcy;
              span.wc-block-product-categories-list-item-count
                span(aria-hidden='true') 1
                span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
    .sidebar
      #block-13.widget.widget_block
        h2 &Fcy;&icy;&lcy;&softcy;&tcy;&rcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy; &pcy;&lcy;&acy;&ncy;&ocy;&vcy;
      #block-10.widget.widget_block
        .wp-block-woocommerce-price-filter(data-showinputfields='true' data-showfilterbutton='false' data-heading='цена' data-heading-level='3')
          h3 &tscy;&iecy;&ncy;&acy;
          .wc-block-price-slider
            .wc-block-price-filter.wc-block-components-price-slider.wc-block-price-filter--has-input-fields.wc-block-components-price-slider--has-input-fields
              .wc-block-price-filter__range-input-wrapper.wc-block-components-price-slider__range-input-wrapper
                div(aria-hidden='true')
                  .wc-block-price-filter__range-input-progress.wc-block-components-price-slider__range-input-progress(style='--low:-0.5%; --high:100.5%;')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--min.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--min(type='range' aria-label='Сортировать по цене (сначала дешевые)' step='1' min='0' max='50000' tabindex='-1' value='0')
                  input.wc-block-price-filter__range-input.wc-block-price-filter__range-input--max.wc-block-components-price-slider__range-input.wc-block-components-price-slider__range-input--max(type='range' aria-label='Сортировать по цене (сначала дорогие)' step='1' min='0' max='50000' tabindex='-1' value='50000')
              .wc-block-price-filter__controls.wc-block-components-price-slider__controls
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--min.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--min(inputmode='numeric' aria-label='Сортировать по цене (сначала дешевые)' type='text' value='0₸')
                input.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-price-filter__amount.wc-block-price-filter__amount--max.wc-block-form-text-input.wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--max(inputmode='numeric' aria-label='Сортировать по цене (сначала дорогие)' type='text' value='50 000₸')
      #block-9.widget.widget_block
        .wp-block-woocommerce-attribute-filter(data-attribute-id='1' data-show-counts='true' data-query-type='or' data-heading='Окупаемость (лет)' data-heading-level='3')
          h3 &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (&lcy;&iecy;&tcy;)
          .wc-block-attribute-filter
            ul.wc-block-checkbox-list.wc-block-components-checkbox-list.wc-block-attribute-filter-list
              li
                input#1(type='checkbox' value='1')
                label(for='1')
                  | 1
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
              li
                input#2(type='checkbox' value='2')
                label(for='2')
                  | 2
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
              li
                input#3(type='checkbox' value='3')
                label(for='3')
                  | 3
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
              li
                input#4(type='checkbox' value='4')
                label(for='4')
                  | 4
                  span.wc-block-attribute-filter-list-count
                    span(aria-hidden='true') 1
                    span.screen-reader-text 1 &tcy;&ocy;&vcy;&acy;&rcy;
    .sidebar
      #block-14.widget.widget_block
        h2 &Pcy;&ocy;&icy;&scy;&kcy;
      #block-11.widget.widget_block
        .wp-block-woocommerce-product-search
          .wc-block-product-search
            form(role='search' method='get' action='http://localhost/business/')
              label.wc-block-product-search__label(for='wc-block-product-search-2') &Pcy;&ocy;&icy;&scy;&kcy;
              .wc-block-product-search__fields
                input#wc-block-product-search-2.wc-block-product-search__field(type='search' placeholder='Искать товары...' name='s')
                input(type='hidden' name='post_type' value='product')
                button.wc-block-product-search__button(type='submit' label='Поиск')
                  svg.dashicon.dashicons-arrow-right-alt2(aria-hidden='true' role='img' focusable='false' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20')
                    path(d='M6 15l5-5-5-5 1-2 7 7-7 7z')
  .content.block_right
    main#main.site-main(role='main')
      .woocommerce-notices-wrapper
      #product-78.product.type-product.post-78.status-publish.first.instock.product_cat-catering.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
        .summary.entry-summary
          h1.product_title.entry-title &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&acy;
          .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images(data-columns='4' style='opacity: 1; transition: opacity 0.25s ease-in-out 0s;')
            figure.woocommerce-product-gallery__wrapper
              .woocommerce-product-gallery__image(data-thumb='http://localhost/business/wp-content/uploads/2021/09/download_img_03-100x100.jpg' data-thumb-alt='')
                a(href='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg')
                  img.wp-post-image(width='270' height='204' src='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg' alt='' loading='lazy' title='download_img_03' data-caption='' data-src='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg' data-large_image='http://localhost/business/wp-content/uploads/2021/09/download_img_03.jpg' data-large_image_width='270' data-large_image_height='204')
          .woocommerce-product-details__short-description
            p &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy; &mdash; 170 000
            p &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &mdash; 300 00
            p &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (DPB), &lcy;&iecy;&tcy;&nbsp; &mdash; 4
            p IRR &mdash; 5%
            p NPV&nbsp; &mdash; 10 000
            p &nbsp;
          p.price
            span.woocommerce-Price-amount.amount
              bdi
                | 50&nbsp;000
                span.woocommerce-Price-currencySymbol &#x20B8;
          form.cart(action='http://localhost/business/product/otkrytie-restorana/' method='post' enctype='multipart/form-data')
            .quantity
              label.screen-reader-text(for='quantity_6145430f8328a') &Kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&acy;
              input#quantity_6145430f8328a.input-text.qty.text(type='number' step='1' min='1' max='' name='quantity' value='1' title='Кол-во' size='4' placeholder='' inputmode='numeric')
            button.single_add_to_cart_button.button.alt(type='submit' name='add-to-cart' value='78') &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
        .woocommerce-tabs.wc-tabs-wrapper
          ul.tabs.wc-tabs(role='tablist')
            li#tab-title-description.description_tab.active(role='tab' aria-controls='tab-description')
              a(href='#tab-description')
                | &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
            li#tab-title-additional_information.additional_information_tab(role='tab' aria-controls='tab-additional_information')
              a(href='#tab-additional_information')
                | &Dcy;&iecy;&tcy;&acy;&lcy;&icy;
            li#tab-title-reviews.reviews_tab(role='tab' aria-controls='tab-reviews')
              a(href='#tab-reviews')
                | &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy; (0)
          #tab-description.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-description' style='')
            h2 &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
            p &Scy;&ucy;&mcy;&mcy;&acy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&icy;&tscy;&icy;&jcy; &mdash; 170 000
            p &Vcy;&acy;&lcy;&ocy;&vcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &mdash; 300 00
            p &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (DPB), &lcy;&iecy;&tcy;&nbsp; &mdash; 4
            p IRR &mdash; 5%
            p NPV&nbsp; &mdash; 10 000
            p PI &mdash; 3
            p &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy; (&pcy;&rcy;&ocy;&scy;&tcy;&acy;&yacy;), &lcy;&iecy;&tcy; &mdash; 2
            p &Rcy;&iecy;&gcy;&icy;&ocy;&ncy; &icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&jcy; &rcy;&ycy;&ncy;&kcy;&acy; &mdash; &Kcy;&acy;&zcy;&acy;&khcy;&scy;&tcy;&acy;&ncy;
            p &Dcy;&acy;&tcy;&acy; &ncy;&acy;&pcy;&icy;&scy;&acy;&ncy;&icy;&yacy; &mdash; 2020
            p &Ocy;&bcy;&hardcy;&iecy;&mcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy; &mdash; 6000
          #tab-additional_information.woocommerce-Tabs-panel.woocommerce-Tabs-panel--additional_information.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-additional_information' style='display: none;')
            h2 &Dcy;&iecy;&tcy;&acy;&lcy;&icy;
            table.woocommerce-product-attributes.shop_attributes
              tbody
                tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--attribute_pa_payback
                  th.woocommerce-product-attributes-item__label &Ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; (&lcy;&iecy;&tcy;)
                  td.woocommerce-product-attributes-item__value
                    p 1
          #tab-reviews.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-reviews' style='display: none;')
            #reviews.woocommerce-Reviews
              #comments
                h2.woocommerce-Reviews-title
                  | &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                p.woocommerce-noreviews &Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy; &pcy;&ocy;&kcy;&acy; &ncy;&iecy;&tcy;.
              #review_form_wrapper
                #review_form
                  #respond.comment-respond
                    span#reply-title.comment-reply-title
                      | &Bcy;&ucy;&dcy;&softcy;&tcy;&iecy; &pcy;&iecy;&rcy;&vcy;&ycy;&mcy;, &kcy;&tcy;&ocy; &ocy;&scy;&tcy;&acy;&vcy;&icy;&lcy; &ocy;&tcy;&zcy;&ycy;&vcy; &ncy;&acy; &ldquo;&Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&acy;&rdquo; 
                      small
                        a#cancel-comment-reply-link(rel='nofollow' href='/business/product/otkrytie-restorana/#respond' style='display:none;') &Ocy;&tcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &ocy;&tcy;&vcy;&iecy;&tcy;
                    form#commentform.comment-form(action='http://localhost/business/wp-comments-post.php' method='post' novalidate='')
                      .comment-form-rating
                        label(for='rating')
                          | &Vcy;&acy;&shcy;&acy; &ocy;&tscy;&iecy;&ncy;&kcy;&acy;&nbsp;
                          span.required *
                        p.stars
                          span
                            a.star-1(href='#') 1
                            a.star-2(href='#') 2
                            a.star-3(href='#') 3
                            a.star-4(href='#') 4
                            a.star-5(href='#') 5
                        select#rating(name='rating' required='' style='display: none;')
                          option(value='') &Ocy;&tscy;&iecy;&ncy;&kcy;&acy;&mldr;
                          option(value='5') &Ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ocy;
                          option(value='4') &KHcy;&ocy;&rcy;&ocy;&shcy;&ocy;
                          option(value='3') &Scy;&rcy;&iecy;&dcy;&ncy;&iecy;
                          option(value='2') &Ncy;&iecy;&pcy;&lcy;&ocy;&khcy;&ocy;
                          option(value='1') &Ocy;&chcy;&iecy;&ncy;&softcy; &pcy;&lcy;&ocy;&khcy;&ocy;
                      p.comment-form-comment
                        label(for='comment')
                          | &Vcy;&acy;&shcy; &ocy;&tcy;&zcy;&ycy;&vcy;&nbsp;
                          span.required *
                        textarea#comment(name='comment' cols='45' rows='8' required='')
                      p.form-submit
                        input#submit.submit(name='submit' type='submit' value='Отправить')
                        input#comment_post_ID(type='hidden' name='comment_post_ID' value='78')
                        input#comment_parent(type='hidden' name='comment_parent' value='0')
                      input#_wp_unfiltered_html_comment_disabled(type='hidden' name='_wp_unfiltered_html_comment' value='656b4c0190')
                      script.
                        (function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();
                  // #respond
              .clear
