.container 
    .clients 
        .clients__text_block 
            .title Разработанные нами бизнес-планы, успешно проходят экспертизы и получают финансирование у крупнейших инвестиционных операторов различных государственных программ
            .text Также помимо подготовки проектов в государственные структуры, мы успешно разрабатываем бизнес-планы и ТЭО для кредитования в банки второго уровня по всему Казахстану
        .clients__sliders fwef
