mixin faq_item(question, answer)
    .faq_block__item
        .question= question            
        .answer= answer
        .nav

.container 
    h2 Часто задаваемые вопросы
    .faq_block
        .faq_block__item
            +faq_item("а даете ли вы гарантию, что по вашему бизнес-плану/тэо я точно получу финансирование?")
            .faq_block__item.active
                .question КАК БЫСТРО ВЫ МОЖЕТЕ РАЗРАБОТАТЬ БИЗНЕС-ПЛАН/ТЭО?            
                .answer 
                    |Все зависит от ваших целей и задач. Если. например, вам нужен бизнес-план для предоставления в местный акимат для получения гранта, такой проект мы можем рассчитать в кратчайшие сроки от 3 дней до недели. Если же бизнес-план нужен для получения кредита или для инвестора, здесь все зависит от глубины анализа и проработки проекта, от условий организации, принимающей решение. В данном случае минимальный срок может быть от 1 недели до 2 месяцев.
                    |По каждому проекту мы индивидуально рассчитываем сроки разработки, с учетом текущей загруженности наших сотрудников. Чтобы узнать более точную информацию по срокам именно по вашему проекту, вы можете позвонить нам, либо оставить заявку на обратный звонок на нашем сайте, мы вам перезвоним и детально проконсультируем по всем вопросам.

                .nav
            +faq_item("КАК БЫСТРО ВЫ МОЖЕТЕ РАЗРАБОТАТЬ БИЗНЕС-ПЛАН/ТЭО?")
            +faq_item("БЫЛИ ЛИ У ВАС ПРОЕКТЫ, В КОТОРЫЕ ИНВЕСТИЦИИ НЕ БЫЛИ ПРИВЛЕЧЕНЫ ПО КАКИМ-ТО ПРИЧИНАМ?")
            +faq_item("КАКОВА СТОИМОСТЬ УСЛУГ СОСТАВЛЕНИЯ БИЗНЕС-ПЛАНА/ТЭО?")