.footer_bg
    .container
        .footer
            .footer_logo
                img(src="images/footer_logo.png")
                .text Разрабатываем бизнес-планы с 2015 года
            .footer_menu
                ul 
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Услуги
                    li
                        a(href="#") Стоимость
                    li
                        a(href="#") Статьи
                    li
                        a(href="#") Портфолио              
            .footer_menu
                ul 
                    li
                        a(href="#") Купить бизнес-план
                    li
                        a(href="#") Скачать бизнес план
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") Контакты
            .footer__address
                .footer_button 
                    .footer_button_telegram 
                    .footer_button_whatsup
                .footer__address__text
                    .icon.phone
                    .text
                        |+7 (702) 286-58-26
                        br
                        a(href="#") Заказать звонок
                .footer__address__text
                    .icon.mail
                    .text
                        |work@biz-plan.kz
                        br
                        a(href="#") Задать вопрос
                .footer__address__text
                    .icon.map
                    .text
                        |г. Нур-Султан, ул. Циолковского 4
                        br
                        a(href="#") Смотреть на карте 
    .footer_bg_dark
        |Все права защищены. 2021