.main_slider 
    .main_slider__nav 
        .nav_element.active 
        .nav_element
        .nav_element
        .nav_element
    .main_slider__text
        .title 
            h1 
                |Разработка бизнес планов и ТЭО 
                i.green «ПОД КЛЮЧ»
        .description 
            | с 100% гарантией принятия к рассмотрению
        .button
            button.orange Бесплатная консультация
    .main_slider__image
.handout_container
    .handout 
        .handout__image
            img(src="images/svg/handout_01.svg")  
        .handout__text_block
            .title
                | Цены 
            .text
                | Точная стоимость зависит от сложности проекта. Минимум - 
                br
                | 90 000 ₸
    .handout 
        .handout__image
            img(src="images/svg/handout_02.svg")  
        .handout__text_block
            .title
                | Сроки
            .text
                | Средний срок разработки проектов составляет от 3 до 15 дней
    .handout 
        .handout__image
            img(src="images/svg/handout_03.svg")  
        .handout__text_block
            .title
                | Опыт
            .text
                | На рынке услуг по разработке бизнес-планов компания ведет свою деятельность с 2015 г.
    .handout 
        .handout__image
            img(src="images/svg/handout_04.svg")  
        .handout__text_block
            .title
                | Гарантии 
            .text
                | В стоимость 
                br
                |бизнес-плана включено внесение возможных корректировок в случае изменения параметров проекта
