h2 Наши услуги
.garanty_cards
    .card.green
        .card_content
            .card_icon
                img(src="images/svg/card_01.svg")
            .card_title Разработка бизнес-планов и ТЭО
            .card_text Бизнес-план поможет решить несколько задач. Получить субсидии от государства. Привлечь банковский кредит для открытия или расширения бизнеса. Предоставить бизнес-план частному инвестору 
        .arrow_btn
    .card
        .card_content
            .card_icon
                img(src="images/svg/card_02.svg")
            .card_title Маркетинговые исследования
            .card_text Маркетинговые исследования необходимы, когда нужно понять конъюнктуру рынка, анализировать потребителей, исследовать предложения конкурентов в определенной нише.
        .arrow_btn
    .card
        .card_content
            .card_icon
                img(src="images/svg/card_03.svg")
            .card_title Расчет финансовой модели
            .card_text Финансовая модель  это стержень вашего бизнеса. В ней представлены доходы-расходы предприятия, динамика денежных потоков, расчеты основных финансовых показателей, позволяющих оценить эффективность проекта.
        .arrow_btn
    .card.green
        .card_content
            .card_icon
                img(src="images/svg/card_04.svg")
            .card_title Подготовка презентации проекта
            .card_text Маркетинговые исследования необходимы, когда нужно понять конъюнктуру рынка, анализировать потребителей, исследовать предложения конкурентов в определенной нише.
        .arrow_btn