.bpan_container
    .container 
        .bplan 
            .title Что содержит бизнес - план ?
            ul 
                li Анализ рынка, в котором планируется реализация продукции (оказание услуг)
                li Маркетинговый план и схема распространения продукции (услуг), а также план продаж в разрезе месяц/год
                li Инвестиционный план с календарным графиком реализации
                li Организационно-управленческий план с расчетом фонда оплаты труда
                li Автоматизированная финансовая модель в формате электронной таблицы Excel
                li Финансовые индикаторы и оценка эффективности проекта
                li Анализ сильных и слабых сторон проекта, оценка рисков
                li Социально-экономическое и экологическое обоснование проекта
            .button
                button.orange Посмотреть пример