.container
    .director 
        .director__photo 
        .director__text_block
            .quote “
            .name Иван Редькин
            .position Директор
            .description
                | Заказать бизнес-план или ТЭО, так чтобы не переплатить и гарантированно получить хороший уровень услуг? Тогда вы обратились по адресу. За годы практики в подготовке проектов в разлиные финансирующие структуры нашей страны, мы накопили успешный опыт, опираясь на который наши клиенты получают желаемый результат.
            .title Оставьте заявку и мы Вам перезвоним
            .request_form 
                .form
                    input.phone(id="phone1" type="text" placeholder="+7(___)___-__-__")
                    input.orange(type="submit" value="Заказать звонок")
                .callus
                    .text 
                        | Или 
                        strong позвоните нам
                    .phone +7 (702) 286-58-26
                    .text2 Мы проконсультируем вас
