.our_works_bg
    .container 
        .our_works 
            .header
                |На 2021 г. выполнено более 310 проектов
            .vertical_text Бизнес проект                
            .our_works__text_block 
                .title Наши последние проекты
                .description 
                    | Пополнение оборотного капитала для
                    | расширения деятельности по оптовой
                    | реализации мобильных аксессуаров
                .points 
                    .point
                        .text1 Регион
                        .text2.area Акмолинская обл.
                    .point
                        .text1 Сумма инвестиций
                        .text2 
                            span.number 120 
                            |тыс. ₸
                    .point
                        .text1 Количество страниц
                        .text2 
                            span.number 64 
                            |страниц
                    .point
                        .text1 Срок
                        .text2 
                            span.number 12 
                            |дней
                button.orange Смотреть все проекты
            .our_work__slider
                .our_work__slider__image_wraper
                    img(src="images/work_slilder_1.jpg")
                .nav_block
                    .nav_element 
                        .left
                    .nav_element
                        .right